<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" href="/inicio">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Meu Perfil</ion-title>
  </ion-toolbar>

</ion-header>



<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Nome</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input type="email" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirme a sua senha</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        
        <ion-list> 
          <ion-radio-group>
            <ion-list-header>
              <ion-label>Sexo</ion-label>
            </ion-list-header>
        
            <ion-item>
              <ion-label>Feminino</ion-label>
              <ion-radio slot="start" value="feminino"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>Masculino</ion-label>
              <ion-radio slot="start" value="masculino"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Não identificar</ion-label>
              <ion-radio slot="start" value="nao-identificado"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
        <br>
        <ion-button size="full" href="/inicio">SALVAR</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  

</ion-content>
