<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" href="/doenca">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>gripe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>O que é? </ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <p>Lorem ipsum dolor sit amet. Ea nesciunt necessitatibus cum fugiat quidem ut ipsam accusamus aut fugit impedit et quidem eligendi? Aut adipisci consequatur aut totam soluta aut iure mollitia sit repellat cumque. Ut quae velit ad explicabo sint non obcaecati quod aut facilis distinctio. </p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Quais são os sintomas?  </ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <p>Et voluptate voluptatem et consequatur unde non recusandae atque qui quibusdam nemo sed  vitae est necessitatibus quia qui voluptas nemo. Vel necessitatibus voluptas et autem laborum et nesciunt facilis  ipsa unde et repellat omnis. </p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Como se transmite? </ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <p>Est provident galisum et dolore perferendis eos quos officiis non sapiente aliquid. Et reiciendis voluptatem est voluptas ipsa et autem veritatis ea nihil galisum? Sit magnam maiores est culpa alias vel pariatur quisquam ut esse velit vel rerum eligendi. </p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Como se prevenir? </ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <p>Et itaque reiciendis At ipsa consequatur est eaque aspernatur in magnam dolor non error neque in dolores omnis id porro facere. Qui beatae modi est alias temporibus qui placeat nostrum quo nihil soluta qui eveniet corrupti ex consequuntur possimus. Aut ipsa cupiditate ad consequatur aperiam sed veniam accusamus ab pariatur praesentium est pariatur rerum. Ea praesentium corporis aut voluptate adipisci ab ipsum libero et saepe repellendus eos veritatis excepturi sed sunt consequatur At voluptatem autem. </p>
      </ion-card-content>
    </ion-card>
  
  
</ion-content>