<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" href="/covid">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>mapcovid</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex-center">
    <ion-button href="https://qsprod.saude.gov.br/extensions/covid-19_html/covid-19_html.html">Unidades de Saúde Básica <br>próximas</ion-button>
   </div>
</ion-content>
