<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" href="/inicio">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>casa</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-content>
        <ion-button size="full" href="/inicio">SUA CASA</ion-button>
        <br>
        <ion-button size="full" href="/inicio">ADICIONAR MEMBRO</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  

</ion-content>
