<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" href="/inicio">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Doenças</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex-center">
  <ion-card>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button href="/covid" size="large" expand="block">
          Coronavírus
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button href="/gripe" size="large" expand="block">
          Gripe
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button href="/dengue" size="large" expand="block">
          Dengue
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button href="/zika" size="large" expand="block">
          Zika
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button href="/chikung" size="large" expand="block">
          Chikungunya
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-card>  
</div> 
</ion-content>
