
<ion-header >
  <ion-toolbar>
    <ion-title>
      <center>Início</center>
    </ion-title>
  </ion-toolbar>
</ion-header>


  <div class="flex-center" id="container">
  <ion-card>  
    
    <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button href="/perfil" size="large" expand="block">
            <ion-icon name="person"></ion-icon>
            Meu Perfil
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button href="/casa" size="large" expand="block">
            <ion-icon name="home"></ion-icon>
            Minha Casa
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button href="/doenca" size="large" expand="block">
            <ion-icon name="star"></ion-icon>
            Doenças
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button href="/mapubs" size="large" expand="block">
            <ion-icon name="heart-circle"></ion-icon>
            UBS Próximas
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
    
        <ion-col>
          <ion-button href="/login" size="large" expand="block">
            <ion-icon name="exit-outline"></ion-icon>
            Sair
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-card-content>   
  </ion-card>
 
  </div>

